section#contact {
  background-color: #212529;
  background-image: url("../assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}
section#contact .section-heading {
  color: #fff;
}
.emailc {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
